@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alumni sans";
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
  background-image: url(image.png);
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bb5;
  color: white;
  padding: 40px 25px;
  font-size: 35px;
}

header .logo img {
  max-height: 40px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: black;
  transition-duration: 400ms;
}
a {
  display: inline-block;
  position: relative;
  color: black;
}

a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h2 {
  letter-spacing: 10px;
  color: #007bb5;
  margin-bottom: 50px;
}
.profile-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  flex-wrap: wrap;
  border-radius: 100px;
}

.profile-picture img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.edit-profile-btn {
  padding: 10px 20px;
  background-color: #007bb5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 20px;
}

.edit-profile-btn:hover {
  background-color: black;
  color: white;
  transition-duration: 400ms;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-box {
  background-color: #e0f7fa;
  padding: 20px;
  border-radius: 8px;
}

.info-box h2 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 50px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.info-item {
  display: flex;
  flex-direction: column;
}

.info-item label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 32px;
  margin-left: 20px;
}

.info-item input {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  font-size: larger;
  color: grey;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  .profile-section {
    flex-direction: column;
    align-items: center;
  }

  .info-grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .profile-picture img {
    width: 150px;
    height: 150px;
  }

  .edit-profile-btn {
    padding: 8px 15px;
  }

  .profile-section {
    display: none;
  }
}
